__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
env/
db.sqlite3
media/
staticfiles/
*.log
node_modules/
build/
dist/
.DS_Store
.vscode/
.idea/
store/migrations/__pycache__/
store/__pycache__/
frontend/src/components/
store/utils/__pycache__/
store/services/__pycache__/
store/templatetags/__pycache__/
config/__pycache__/
test_output.txt
test_output_sqlite.txt
test_output_sqlite_2.txt
test_output_sqlite_3.txt
