{% extends "admin/base_site.html" %}
{% block content %}
<h1>Audit Trail</h1>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>User</th>
            <th>Action</th>
            <th>Target</th>
        </tr>
    </thead>
    <tbody>
        {% for log in audit_logs %}
        <tr>
            <td>{{ log.action_timestamp }}</td>
            <td>{{ log.admin_user }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.target_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
